{% extends 'base_website.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="d-flex flex-row justify-content-start align-items-center gap-3">
                <img src="{{ asset('images/default_avatar.png') }}" alt="user" width="80" height="80" class="rounded-circle">
                <div class="d-flex flex-column">
                    <h1>{{ user.getUserPersonalInfo().getNickname() }}</h1>
                </div>
            </div>
            <hr>
            <h4>Preferences</h4>
            <p><b>Languages</b></p>
            <p>{{ user.getUserReadingInterest().getLanguages()|join(', ') }}</p>
            <p><b>Genres</b></p>
            <p>{{ user.getUserReadingInterest().getGenres()|join(', ') }}</p>
            <hr>
            <h4>My reading lists</h4>
            <div class="mb-3">
                <div class="mb-3 d-flex justify-content-left">
                    <h5>Want to Read ({{ want_to_read|length }})</h5>
                </div>
                {% if want_to_read|length > 0 %}
                    <div class="d-flex flex-row overflow-auto">
                        {% for book in want_to_read %}
                            <a href="{{ path('book-page', {'id': book.getGoogleBooksId() }) }}" class="text-decoration-none text-black p-2">
                                <div class="card h-100" style="width: 8rem">
                                    {% if book.getThumbnail() %}
                                        <img src="{{ book.getThumbnail() }}" class="card-img-top w-100" alt="{{ book.getTitle() }}" style="height: 14rem; object-fit: cover">
                                    {% else %}
                                        <img src="{{ asset('images/book_cover_empty.png') }}" class="card-img-top w-100" alt="Empty Book Cover" style="height: 14rem; object-fit: cover">
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <div class="mb-3 d-flex justify-content-left">
                    <h5>Currently Reading ({{ currently_reading|length }})</h5>
                </div>
                {% if currently_reading|length > 0 %}
                    <div class="d-flex flex-row overflow-auto">
                        {% for book in currently_reading %}
                            <a href="{{ path('book-page', {'id': book.getGoogleBooksId() }) }}" class="text-decoration-none text-black p-2">
                                <div class="card h-100" style="width: 8rem">
                                    {% if book.getThumbnail() %}
                                        <img src="{{ book.getThumbnail() }}" class="card-img-top w-100" alt="{{ book.getTitle() }}" style="height: 14rem; object-fit: cover">
                                    {% else %}
                                        <img src="{{ asset('images/book_cover_empty.png') }}" class="card-img-top w-100" alt="Empty Book Cover" style="height: 14rem; object-fit: cover">
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <div class="mb-3 d-flex justify-content-left">
                    <h5>Have Read ({{ have_read|length }})</h5>
                </div>
                {% if have_read|length > 0 %}
                    <div class="d-flex flex-row overflow-auto">
                        {% for book in have_read %}
                            <a href="{{ path('book-page', {'id': book.getGoogleBooksId() }) }}" class="text-decoration-none text-black p-2">
                                <div class="card h-100" style="width: 8rem">
                                    {% if book.getThumbnail() %}
                                        <img src="{{ book.getThumbnail() }}" class="card-img-top w-100" alt="{{ book.getTitle() }}" style="height: 14rem; object-fit: cover">
                                    {% else %}
                                        <img src="{{ asset('images/book_cover_empty.png') }}" class="card-img-top w-100" alt="Empty Book Cover" style="height: 14rem; object-fit: cover">
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <hr class="d-md-none">
            <h3>My reviews</h3>
            <div class="d-flex flex-column gap-3">
                {% for bookReview in reviews %}
                    <div class="card">
                        <div class="card-header">
                            <a href="{{ path('book-page', {'id': bookReview.getBookID() }) }}" class="text-decoration-none text-black text-truncate">{{ bookReview.getBookTitle() }}</a>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <div class="rating">
                                    {% for i in range(1, 5) %}
                                        {% if i <= bookReview.getRating() %}
                                            ★
                                        {% else %}
                                            ☆
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <p>{{ bookReview.getReview() }}</p>
                            </blockquote>
                        </div>
                        <div class="card-footer text-muted">
                            On {{ bookReview.getCreatedAt()|date('Y-m-d') }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}