{% block body %}
    <div class="card">
        <div class="card-body px-5 pb-5 pt-4 px-md-5">
            <h2 class="fw-bold mb-4 pb-2">Sign In</h2>
            <form method="post" class="form-signin needs-validation" novalidate>
                <div class="form-outline mb-4">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control {% if error %}is-invalid{% endif %}" autocomplete="email" required autofocus>
                    <div class="invalid-feedback">
                        {% if error %}
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        {% else %}
                            Please provide a valid email.
                        {% endif %}
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control {% if error %}is-invalid{% endif %}" autocomplete="current-password" required>
                    <div class="invalid-feedback">
                        {% if error %}
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        {% else %}
                            Please provide a password.
                        {% endif %}
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary w-100 mb-4">
                        Sign in
                    </button>

                    <!-- Sign Up with Google -->
                    <div id="g_id_onload"
                        data-client_id="285885384536-uson2t60td04gdqq3932bt2judjf5i71.apps.googleusercontent.com"
                        data-context="signin"
                        data-ux_mode="popup"
                        data-login_uri="/login/google"
                        data-auto_prompt="false">
                    </div>

                    <div class="g_id_signin"
                        data-type="standard"
                        data-shape="rectangular"
                        data-theme="outline"
                        data-text="signin_with"
                        data-size="large"
                        data-locale="en"
                        data-logo_alignment="left">
                    </div>
                </div>
                <div class="a-row mt-4 text-center">
                    Don't have an account yet?
                    <a class="a-link-emphasis" href="{{ path('app_register') }}">
                        Sign up
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
