<div class="card">
    <div class="card-body px-5 pb-5 pt-4 px-md-5">
        <h2 class="fw-bold mb-4 pb-2">Book Preferences</h2>
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{ flash_message }}</div>
        {% endfor %}
        {{ form_start(readingInterestForm, {'attr': {'class': 'form-group', 'needs-validation': false}}) }}
            <!-- Language inputs -->
            <div class="row mb-0">
                <div class="col-md-12 mb-3">
                    {{ form_label(readingInterestForm.languages, 'Languages') }}
                    {{ form_widget(readingInterestForm.languages, {'required': false, 'attr': {'class': 'multiple-select-field'} }) }}
                    {{ form_errors(readingInterestForm.languages) }}
                </div>
            </div>
            <!-- Genre inputs -->
            <div class="row mb-0">
                <div class="col-md-12 mb-3">
                    {{ form_label(readingInterestForm.genres, 'Genres') }}
                    {{ form_widget(readingInterestForm.genres, {'required': false, 'attr': {'class': 'multiple-select-field'} }) }}
                    {{ form_errors(readingInterestForm.genres) }}
                </div>
            </div>
        {{ form_end(readingInterestForm) }}
    </div>
</div>