{% extends 'base_website.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-auto">
                    <img src="{{ book.getVolumeInfo().getImageLinks().getThumbnail() ?? asset('images/book_cover.png') }}" class="card-img-top" alt="{{ book.getVolumeInfo().getTitle() }}">

                </div>
                <div class="col">
                    <h1>{{ book.getVolumeInfo().getTitle() }}</h1>
                    <p>
                        {% set authors = book.getVolumeInfo().getAuthors() %}
                        {% if authors|length == 1 %}
                            Author:
                        {% else %}
                            Authors:
                        {% endif %}
                        {{ authors|join(', ') }}
                    </p>
                    <p>Rating: {{ book.getVolumeInfo().getAverageRating() }}</p>
                    {% if book.getVolumeInfo().getRatingsCount() is defined %}
                        <p>Reviews: {{ book.getVolumeInfo().getRatingsCount() }}</p>
                    {% endif %}
                    <div class="dropdown pb-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Add to
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#" onclick="changeButtonText('Read', this)">Read</a></li>
                            <li><a class="dropdown-item" href="#" onclick="changeButtonText('Currently reading', this)">Currently reading</a></li>
                            <li><a class="dropdown-item" href="#" onclick="changeButtonText('To read', this)">To read</a></li>
                        </ul>
                    </div>
                    <form method="POST" action="{{ path('app_meetup_requests', {'bookId': book.getId()}) }}">
                        <button type="submit" class="btn btn-primary btn-lg">Host Meetup</button>
                    </form>

                    <script>
                        function changeButtonText(text, element) {
                            var dropdownButton = document.getElementById('dropdownMenuButton1');
                            dropdownButton.innerHTML = text;
                        }
                    </script>
                </div>
            </div>
            <div class="container pt-3">
                <p>
                    <button class="btn btn-primary" type="button" onclick="showContent('content1')">
                        Content
                    </button>
                    <button class="btn btn-primary" type="button" onclick="showContent('content2')">
                        Details
                    </button>
                </p>
                <div class="card card-body">
                    <p id="content1" style="display: block;">{{ book.getVolumeInfo().getDescription() | raw }}</p>
                    <p id="content2" style="display: none;">{% set authors = book.getVolumeInfo().getAuthors() %}
                        {% if authors|length == 1 %}
                            Author:
                        {% else %}
                            Authors:
                        {% endif %}
                        {{ authors|join(', ') }}
                        <br>
                        Date of publish: {{ book.getVolumeInfo().getpublishedDate() }}
                        <br>
                        Pages: {{ book.getVolumeInfo().getpagecount() }}
                    </p>
                </div>
            </div>
        </div>
        <div class = "col-md-4">
            <h3>Join Meetups:</h3>
            {% for meetupRequest in meetupRequests %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ book.getVolumeInfo().getImageLinks().getThumbnail() ?? asset('images/book_cover.png') }}" class="card-img-top" alt="{{ book.getVolumeInfo().getTitle() }}">                        </div>
                        <div class="col-md-8 ps-3">
                            <div class="card-body p-0">
                                <h5 class="card-title">Host: {{ meetupRequest.getHostUser().getUserPersonalInfo().getName() }}</h5>
                                <p class="card-text">participants: {{ meetupRequest.getMaxNumber() }}</p>
                                <p class="card-text">library: {{ meetupRequest.getLibraryID().getLibraryName() }}</p>
                                <p class="card-text">Date: {{ meetupRequest.getDatetime()|date('F j') }}</p>
                                <a href="{{ path('meetup_requests_list_join_book', {'bookId': book.getID(),'meetupRequestId': meetupRequest.getMeetupId()}) }}" class="btn btn-primary">Join</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="modal fade" id="host" tabindex="-1" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4" id="exampleModalLgLabel">Host a meetup</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="library-name" class="form-label">Library</label>
                            <input type="text" class="form-control" id="library-name" name="library-name" required>
                        </div>
                        <div class="mb-3">
                            <label for="meetup-date" class="form-label">Meetup Date</label>
                            <input type="date" class="form-control" id="meetup-date" name="meetup-date" required>
                        </div>
                        <div class="mb-3">
                            <label for="max-participants" class="form-label">Maximum Participants</label>
                            <input type="number" class="form-control" id="max-participants" name="max-participants" required>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showContent(contentId) {
            var contentElements = document.querySelectorAll('.card.card-body p');
            contentElements.forEach(function(content) {
                if (content.id === contentId) {
                    content.style.display = 'block';
                } else {
                    content.style.display = 'none';
                }
            });
        }
    </script>




{% endblock %}