{% extends '/base_website.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex flex-row justify-content-start align-items-center gap-3">
                <img src="{{ asset('images/default_avatar.png') }}" alt="user" width="80" height="80" class="rounded-circle">
                <div class="d-flex flex-column">
                    <h1>{{ user.getUserPersonalInfo().getNickname() }}</h1>
                    {% if  user.getUserPersonalInfo().getName() is not null or user.getUserPersonalInfo().getSurname() is not null %}
                        <p><b>{{ user.getUserPersonalInfo().getName() }} {{ user.getUserPersonalInfo().getSurname() }}<</b></p>
                    {% endif %}
                </div>
            </div>
            <hr>
            <h2>Preferences</h2>
            <p><b>Languages</b></p>
                {% for language in user.getUserReadingInterest().getLanguages() %}
                    <p>{{ language }}   </p>
                {% endfor %}
            <p><b>Genres</b></p>
                {% for genre in user.getUserReadingInterest().getGenres() %}
                    <p>{{ genre }}   </p>
                {% endfor %}
            <hr>
            <h2>My reading lists</h2>
            <div class="d-flex flex-row justify-content-between">
                <a href="{{ path('reading_list') }}" class="text-decoration-none text-black"> read ({{ user.getUserReadingList().getHaveRead()|length }}) </a>
                <a href="{{ path('reading_list') }}" class="text-decoration-none text-black"> currently-reading ({{ user.getUserReadingList().getCurrentlyReading()|length }}) </a>
                <a href="{{ path('reading_list') }}" class="text-decoration-none text-black"> to-read ({{ user.getUserReadingList().getWantToRead()|length }}) </a>
            </div>
        </div>
        <div class="col-md-6">
            <hr class="d-md-none">
            <h2>My reviews</h2>
            {% for bookReview in reviews %}
                <div class="card mb-3">
                    <div class="card-header">
                        <a href="{{ path('book-page', {'id': bookReview.getBookID() }) }}" class="text-decoration-none text-black">{{ bookReview.getBookTitle() }}</a>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ bookReview.getReview() }}</p>
                        </blockquote>
                    </div>
                    <div class="card-footer text-muted">
                        On {{ bookReview.getCreatedAt()|date('Y-m-d') }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}