{% extends 'base_website.html.twig' %}

{% block title %}Meet requests{% endblock %}

{% block body %}
    <h1>Book request</h1>

    {{ form_start(form) }}
    {{ form_row(form.library_ID) }}
    {{ form_row(form.datetime) }}
    {{ form_row(form.maxNumber) }}

    <button type="submit">Create</button>
    {{ form_end(form) }}
{% endblock %}
