{% extends 'base_website.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="d-flex flex-row overflow-auto gx-3">
        <div class="col-12 p-3 border my-3 rounded-3">
            <div class="border-bottom mb-3 d-flex justify-content-left">
                <h4>Upcoming meetups</h4>
            </div>
            <div class="d-flex flex-row overflow-auto">
                {% for upcomingRequest in upcomingRequests %}
                    <div class="card ms-3" style="min-width: 400px; max-width: 400px">
                        <div class="d-flex flex-row h-100">
                            {% if booksUpcomingRequests[upcomingRequest.getBookID()].getThumbnail() %}
                                <img src="{{ booksUpcomingRequests[upcomingRequest.getBookID()].getThumbnail() }}" class="rounded-start h-100"
                                     alt="{{ booksUpcomingRequests[upcomingRequest.getBookID()].getTitle() }}" style="width: 140px; object-fit: cover">
                            {% else %}
                                <img src="{{ asset('images/book_cover_empty.png') }}" class="rounded-start h-100" alt="Empty Book Cover" style="width: 140px; object-fit: cover">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title text-truncate-2">{{ booksUpcomingRequests[upcomingRequest.getBookID()].getTitle() }}</h5>
                                <p class="card-text">Date: {{ upcomingRequest.getDatetime()|date('F j') }}</p>
                                <p class="card-text">Number of people: {{ upcomingRequest.getMaxNumber() }}</p>
                                <p class="card-text">Library: {{ upcomingRequest.getLibraryID().getLibraryName() }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row overflow-auto gx-3">
        <div class="col-12 p-3 border my-3 rounded-3">
            <div class="border-bottom mb-3 d-flex justify-content-left">
                <h4>Meetup requests</h4>
            </div>
            <div class="d-flex flex-row overflow-auto">
                {% for meetupRequest in meetupRequests %}
                    <div class="card ms-3" style="min-width: 400px; max-width: 400px">
                        <div class="d-flex flex-row h-100">
                            {% if booksMeetupRequests[meetupRequest.getMeetupID().getBookID()].getThumbnail() %}
                                <img src="{{ booksMeetupRequests[meetupRequest.getMeetupID().getBookID()].getThumbnail() }}" class="rounded-start h-100"
                                     alt="{{ booksMeetupRequests[meetupRequest.getMeetupID().getBookID()].getTitle() }}" style="width: 140px; object-fit: cover">
                            {% else %}
                                <img src="{{ asset('images/book_cover_empty.png') }}" class="rounded-start h-100" alt="Empty Book Cover" style="width: 140px; object-fit: cover">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title text-truncate-2">{{ booksMeetupRequests[meetupRequest.getMeetupID().getBookID()].getTitle() }}</h5>
                                <h5 class="card-title"><a href="{{ path('profile_other', {'username': meetupRequest.getUserID().getUserPersonalInfo().getNickname() }) }}" class="text-decoration-none">{{ meetupRequest.getUserID().getUserPersonalInfo().getNickname() }}</a></h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <form method="post" action="{{ path('meetup_request_host_accept', {'meetupRequestId': meetupRequest.getMeetupRequestListID()}) }}">
                                            <button type="submit" class="btn btn-success me-2" name="action" value="accept">Accept</button>
                                            <button type="submit" class="btn btn-danger" name="action" value="reject">Reject</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row overflow-auto gx-3">
        <div class="col-12 p-3 border my-3 rounded-3">
            <div class="border-bottom mb-3 d-flex justify-content-left">
                <h4>Meetups at your library</h4>
            </div>
            <div class="d-flex flex-row overflow-auto">
                {% for meetupAvailable in meetupAvailabes %}
                    <div class="card ms-3" style="min-width: 400px; max-width: 400px">
                        <div class="d-flex flex-row h-100">
                            {% if booksMeetupAvailables[meetupAvailable.getBookID()].getThumbnail() %}
                                <img src="{{ booksMeetupAvailables[meetupAvailable.getBookID()].getThumbnail() }}" class="rounded-start h-100"
                                     alt="{{ booksMeetupAvailables[meetupAvailable.getBookID()].getTitle() }}" style="width: 140px; object-fit: cover">
                            {% else %}
                                <img src="{{ asset('images/book_cover_empty.png') }}" class="rounded-start h-100" alt="Empty Book Cover" style="width: 140px; object-fit: cover">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title text-truncate-2">{{ booksMeetupAvailables[meetupAvailable.getBookID()].getTitle() }}</h5>
                                <p class="card-text">Host: {{ meetupAvailable.getHostUser().getUserPersonalInfo().getNickname() }}</p>
                                <p class="card-text">Max participants: {{ meetupAvailable.getMaxNumber() }}</p>
                                <a href="{{ path('meetup_requests_list_join', {'userId': userId, 'meetupRequestId': meetupAvailable.getMeetupId()}) }}" class="btn btn-primary mb-2">Join</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}