{% extends 'base_website.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="d-flex flex-row overflow-auto gx-3" id="upcoming-in-overview">
        <div class="col-12 p-3 border my-3 rounded-3">
            <div class="border-bottom mb-3 d-flex justify-content-left">
                <h4>Upcoming meetups</h4>
            </div>
            <div class="d-flex flex-row overflow-auto">
                {% for upcomingRequest in upcomingRequests %}
                    <div class="card ms-3 width-400-px">
                        <div class="d-flex flex-row h-100">
                            <a href="{{ path('book-page', {'id': booksUpcomingRequests[upcomingRequest.getBookID()].getGoogleBooksId() }) }}">
                                {% if booksUpcomingRequests[upcomingRequest.getBookID()].getThumbnail() %}
                                    <img src="{{ booksUpcomingRequests[upcomingRequest.getBookID()].getThumbnail() }}" class="rounded-start h-100 width-140-px fit-cover" alt="{{ booksUpcomingRequests[upcomingRequest.getBookID()].getTitle() }}">
                                {% else %}
                                    <img src="{{ asset('images/book_cover_empty.png') }}" class="rounded-start h-100 width-140-px fit-cover" alt="Empty Book Cover">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-truncate-2">{{ booksUpcomingRequests[upcomingRequest.getBookID()].getTitle() }}</h5>
                                <p class="card-text">Date: {{ upcomingRequest.getDatetime()|date('F j') }}</p>
                                <p class="card-text">Number of people: {{ upcomingRequest.getMaxNumber() }}</p>
                                <p class="card-text">Library: {{ upcomingRequest.getLibraryID().getLibraryName() }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row overflow-auto gx-3" id="requests-in-overview">
        <div class="col-12 p-3 border my-3 rounded-3">
            <div class="border-bottom mb-3 d-flex justify-content-left">
                <h4>Meetup requests</h4>
            </div>
            <div class="d-flex flex-row overflow-auto">
                {% for meetupRequest in meetupRequests %}
                    <div class="card ms-3 width-400-px">
                        <div class="d-flex flex-row h-100">
                            <a href="{{ path('book-page', {'id': booksMeetupRequests[meetupRequest.getMeetupID().getBookID()].getGoogleBooksId() }) }}">
                                {% if booksMeetupRequests[meetupRequest.getMeetupID().getBookID()].getThumbnail() %}
                                    <img src="{{ booksMeetupRequests[meetupRequest.getMeetupID().getBookID()].getThumbnail() }}" class="rounded-start h-100 width-140-px fit-cover" alt="{{ booksMeetupRequests[meetupRequest.getMeetupID().getBookID()].getTitle() }}">
                                {% else %}
                                    <img src="{{ asset('images/book_cover_empty.png') }}" class="rounded-start h-100 width-140-px fit-cover" alt="Empty Book Cover">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-truncate-2">
                                    <a href="{{ path('book-page', {'id': booksMeetupRequests[meetupRequest.getMeetupID().getBookID()].getGoogleBooksId() }) }}" class="text-decoration-none">{{ booksMeetupRequests[meetupRequest.getMeetupID().getBookID()].getTitle() }}</a>
                                </h5>
                                <h5 class="card-title">
                                    <a href="{{ path('profile_other', {'username': meetupRequest.getUserID().getUserPersonalInfo().getNickname() }) }}" class="text-decoration-none">{{ meetupRequest.getUserID().getUserPersonalInfo().getNickname() }}</a>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <form method="post" action="{{ path('meetup_request_host_accept', {'meetupRequestId': meetupRequest.getMeetupRequestListID()}) }}">
                                            <button type="submit" class="btn btn-success me-2" name="action" value="accept">Accept</button>
                                            <button type="submit" class="btn btn-danger" name="action" value="reject">Reject</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="d-flex flex-row overflow-auto gx-3" id="meetups-in-overview">
        <div class="col-12 p-3 border my-3 rounded-3">
            <div class="border-bottom mb-3 d-flex justify-content-left">
                <h4>Meetups at your library</h4>
            </div>
            <div class="d-flex flex-row overflow-auto">
            {% for meetupAvailable in meetupAvailabes %}
                {% set bookId = meetupAvailable.getBookID() %}
                {% set book = booksMeetupAvailables[bookId] %}
                {% if book is not null %}
                <div class="card ms-3 width-400-px">
                    <div class="d-flex flex-row h-100">
                        <a href="{{ path('book-page', {'id': book.getGoogleBooksId() }) }}">
                            {% if book.getThumbnail() %}
                                <img src="{{ book.getThumbnail() }}" class="rounded-start h-100 width-140-px fit-cover" alt="{{ book.getTitle() }}">
                            {% else %}
                                <img src="{{ asset('images/book_cover_empty.png') }}" class="rounded-start h-100 width-140-px fit-cover" alt="Empty Book Cover">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-truncate-2">
                                <a href="{{ path('book-page', {'id': book.getGoogleBooksId() }) }}" class="text-decoration-none text-black">{{ book.getTitle() }}</a>
                            </h5>
                            <p class="card-text">Host:
                                <a href="{{ path('profile_other', {'username': meetupAvailable.getHostUser().getUserPersonalInfo().getNickname() }) }}" class="text-decoration-none text-black">{{ meetupAvailable.getHostUser().getUserPersonalInfo().getNickname() }}</a>
                            </p>
                            <p class="card-text">Max participants: {{ meetupAvailable.getMaxNumber() }}</p>
                            <a href="{{ path('meetup_requests_list_join', {'userId': userId, 'meetupRequestId': meetupAvailable.getMeetupId()}) }}" class="btn btn-primary mb-2">Join</a>
                        </div>
                    </div>
                </div>
                 {% endif %}
            {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}
