{% extends 'base.html.twig' %}

{% block title %}All book Reviews{% endblock %}

{% block body %}
    <h1>Search Results for "{{ query }}"</h1>

    {% if bookReviews|length == 0 %}
        <p>No reviews found.</p>
    {% else %}
        {% for reviewData in reviewsData %}
            <div>
                <h2>{{ reviewData.review_ID }}</h2>
                <p>{{ reviewData.review }}</p>
                <p>Rating: {{ reviewData.rating }}</p>
                <p>Tags: {{ reviewData.tags }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}