{% extends 'base_website.html.twig' %}

{% block body %}
    <h4>You searched for '{{ query }}'</h4>
    <p>{{ results|length }} result(s) found</p>
    {% for book in results %}
        <a href="{{ path('book-page', {'id': book.getId() }) }}" class="text-decoration-none text-black height-10">
            <div class="card mb-3">
                <div class="d-flex flex-row h-100">
                    <img src="{{ book.getVolumeInfo().getImageLinks().getThumbnail() ?? asset('images/book_cover_empty.png') }}" class="rounded-start h-100 width-6 fit-cover" alt="{{ book.getVolumeInfo().getTitle() }}">
                    <div class="card-body">
                        <p><b>{{ book.getVolumeInfo().getTitle() }}</b></p>
                        <p class="card-text">{{ book.getVolumeInfo().getAuthors()|join(', ') }}</p>
                        {% if book.getVolumeInfo().getAverageRating() is not empty %}
                            <p class="card-text">Rating: {{ book.getVolumeInfo().getAverageRating() }} / 5</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}