{% extends 'base_website.html.twig' %}

{% block body %}
    <div class="container-fluid row m-0">
        <div class="col-md-8">
            {% for genre, books in results %}
                <h4>{{ genre }}</h4>
                <div class="d-flex flex-row overflow-auto mb-3">
                    {% for book in books %}
                        <a href="{{ path('book-page', {'id': book.getGoogleBooksId() }) }}" class="text-decoration-none text-black p-2">
                            <div class="card h-100" style="width: 10rem">
                                {% if book.getThumbnail() %}
                                    <img src="{{ book.getThumbnail() }}" class="card-img-top w-100" alt="{{ book.getTitle() }}" style="height: 16rem; object-fit: cover">
                                {% else %}
                                    <img src="{{ asset('images/book_cover_empty.png') }}" class="card-img-top w-100" alt="Empty Book Cover" style="height: 16rem; object-fit: cover">
                                {% endif %}
                                <div class="card-body d-none d-md-block">
                                    <b class="card-title text-truncate-2">{{ book.getTitle() }}</b>
                                    <p class="card-text text-truncate">{{ book.getAuthor() }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4 d-none d-md-block">
            <h4>Reviews</h4>
            <div class="d-flex flex-column gap-3">
                {% for bookReview in reviews %}
                    <div class="card">
                        <div class="card-header">
                            <a href="{{ path('book-page', {'id': bookReview.getBookID() }) }}" class="text-decoration-none text-black text-truncate-1">{{ bookReview.getBookTitle() }}</a>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <div class="rating">
                                    {% for i in range(1, 5) %}
                                        {% if i <= bookReview.getRating() %}
                                            ★
                                        {% else %}
                                            ☆
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <p class="text-truncate-3">{{ bookReview.getReview() }}</p>
                                <footer class="blockquote-footer">
                                    <a href="{{ path('profile_other', {'username': bookReview.getUserID().getUserPersonalInfo().getNickname() }) }}" class="link-secondary text-decoration-none">{{ bookReview.getUserID().getUserPersonalInfo().getNickname() }}</a>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card-footer text-muted">
                            On {{ bookReview.getCreatedAt()|date('Y-m-d') }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
