{% extends 'base_website.html.twig' %}

{% block title %}Meetup Requests - Host{% endblock %}

{% block body %}
    <h1>Meetup Requests - Host</h1>

    {% if meetupRequests is empty %}
        <p>No meetup requests found.</p>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Meetup ID</th>
                <th>Library</th>
                <th>Book ID</th>
                <th>Max Number</th>
                <th>Sent By</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for meetupRequest in meetupRequests %}
                <tr>
                    <td>{{ meetupRequest.getMeetupID().getMeetupID() }}</td>
                    <td>{{ meetupRequest.getMeetupID().getLibraryID().getLibraryName() }}</td>
                    <td>{{ meetupRequest.getMeetupID().getBookID() }}</td>
                    <td>{{ meetupRequest.getMeetupID().getMaxNumber() }}</td>
{#                    <td>{{ meetupRequest.getUserID().getUserPersonalInfo().getName() }}</td>#}
                    <td>{{ meetupRequest.getUserID().getEmail() }}</td>
                    <td>
                        <form method="post" action="{{ path('meetup_request_host_accept', {'meetupRequestId': meetupRequest.getMeetupRequestListID()}) }}">
                            <button type="submit" name="action" value="accept">Accept</button>
                            <button type="submit" name="action" value="reject">Reject</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
