<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookBinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% block base_website_javascripts %}
        {{ encore_entry_script_tags('base_website') }}
    {% endblock %}
</head>
<body class="d-flex flex-column vh-100">
    <header class="py-3 mb-4 shadow">
        <div class="container-fluid align-items-center d-flex">
            <div class="flex-shrink-1">
                <img src="{{ asset('images/logo_light.jpg') }}" alt="" style="width: 40px; height: 40px">
            </div>
            <div class="flex-grow-1 d-flex align-items-center">
                <form class="w-100 me-3" onsubmit="searchBooks(event)">
                    <input type="search" class="form-control" placeholder="Search..." list="book-list" onkeyup="getSuggestion(event)">
                    <datalist id="book-list"></datalist>
                </form>

                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('images/default_avatar.png') }}" alt="user" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser2" style="z-index: 2000">
                        <li><a class="dropdown-item" href="{{ path('settings') }}">Settings</a></li>
                        <li><a class="dropdown-item" href="{{ path('profile') }}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-lg-row overflow-auto m-0 row">
        <div class="m-0 row">
            <aside class="col-lg-2 sticky-top pb-lg-0 pb-3" style="background-color: white">
                <div class="bg-light border rounded-3 p-1 sticky-top">
                    <ul class="navbar-nav flex-lg-column flex-row mb-auto justify-content-between text-truncate">
                        <li class="nav-item">
                            <a href="{{ path('app_home') }}" class="nav-link active px-2 text-truncate">
                                <i class="bi bi-house fs-5"></i>
                                <span class="d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('reading_list') }}" class="nav-link active px-2 text-truncate">
                                <i class="bi bi-list-ul fs-5"></i>
                                <span class="d-none d-sm-inline">My list</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('meetup_overview') }}" class="nav-link active px-2 text-truncate">
                                <i class="bi bi-calendar fs-5"></i>
                                <span class="d-none d-sm-inline">Meetups</span> </a>
                        </li>
                    </ul>
                </div>
                <div class="bg-light border rounded-3 p-1 sticky-top" style="margin-top: 20px;">
                    <div class="d-flex align-items-center">
                        <a href="#collapsePanel" class="btn btn-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapsePanel">
                            <img src="{{ asset('images/logo_openAI.png') }}" alt="Logo" width="32" height="32" class="me-2">
                        </a>
                        <p class="text-center mb-0">Not sure what to read?</p>
                    </div>
                    <div class="collapse" id="collapsePanel">
                        <form id="chatForm" style="margin-bottom: 20px;">
                            <div class="mb-3">
                                <label for="inputText" class="form-label">What are you looking for?</label>
                                <input type="text" class="form-control form-control-lg" id="inputText" placeholder="E.g. A book about spaceships...">
                                <style>
                                    #inputText::placeholder {
                                        font-size: 16px;
                                    }
                                </style>
                            </div>
                            <button type="submit" class="btn btn-primary">Generate</button>
                        </form>

                        <div id="recommendations">
                            <!-- Your content here -->
                        </div>
                    </div>
                </div>
            </aside>
            <main class="col-lg-10">
                <div class="bg-light border rounded-3 p-3 overflow-auto">
                    {% block body %} {% endblock %}
                </div>
            </main>
        </div>
    </div>
</body>
</html>
